<div class="wrapper">
  <h1>Scroll down to display Button</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quas alias ipsam quam voluptatibus,
    velit veritatis consequatur unde atque deleniti magnam quasi at provident quia sunt voluptatum reprehenderit eum
    sit.
    Architecto in eveniet doloribus, sequi a ratione maiores, incidunt placeat recusandae quos voluptas deleniti,
    aperiam
    quia cum omnis est sapiente ut consequatur at ducimus explicabo veniam! Nulla praesentium, magnam sit quisquam,
    nam repudiandae animi ipsa exercitationem esse hic impedit veniam omnis provident fugiat tenetur mollitia
    consequatur iusto.
    Voluptas, quis nihil laborum quam modi facere error itaque minus ipsa consequatur qui aperiam quas sunt voluptatem,
    nobis ea natus quaerat similique at
    velit asperiores? Possimus suscipit ut perferendis enim rem ea debitis odit dolor nulla nemo. Vitae rem fugiat
    libero dolorem
    illum iure tempore sequi dignissimos sunt? Dolorem iure porro quibusdam. Eligendi totam dolores vel pariatur.
    A consequuntur expedita impedit quas. Tempore perspiciatis pariatur reprehenderit cumque dicta, ratione quia omnis
    illo
    itaque reiciendis beatae et labore neque. Animi recusandae placeat officia facere consequuntur,
    repudiandae quia iure itaque reiciendis ex illo beatae et natus excepturi ullam deserunt necessitatibus?
    Asperiores dolorem illo sapiente pariatur maiores minima quos, eaque amet dolorum fugit deleniti eum doloremque
    voluptatem corrupti saepe,
    ipsa, quis unde accusamus laborum ab veritatis voluptas repudiandae. Deserunt non recusandae dicta in,
    eligendi officiis tenetur tempora ut magni reprehenderit ducimus, perferendis alias delectus quae possimus cum
    repudiandae.
    Ipsa, voluptate! A soluta quo ratione beatae non, libero magnam itaque reiciendis provident, eaque doloremque cumque
    id consectetur aspernatur
    harum eos aperiam. Quam perspiciatis aliquid quis asperiores recusandae temporibus tenetur ipsa corrupti odit
    sapiente excepturi iste molestias
    adipisci, modi, obcaecati minima! Voluptates, quidem vero voluptatibus, ratione totam nam earum eos delectus tempora
    distinctio nesciunt iste
    provident aut cum praesentium amet optio animi. Laborum neque unde illum quibusdam autem officia amet maiores?
    Repudiandae, iure possimus alias
    corrupti perferendis amet?</p>

  <app-scroll-up [show]="show_scroll_up"></app-scroll-up>

</div>
