/* You can add global styles to this file, and also import other style files */

body{
  height: 150vh;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}
